In [ ]:
list1=[1,2,345,4,5,656,7,258,29]
list2=['a','b','c','d']
list3=[1,'a',2,'b']


print(list1)
print(list2)
print(list3)

sliced_list=list1[-3:-1]  #SLICING

print("sliced list =",sliced_list)

reversed_list= list1[::-1]          #REVERSING

print("reversedlist =",reversed_list)

list1.append(10)   #APPEND
print(list1)

list1.insert(0,0)    #INSERT
print(list1)


print("iterating")     #LOOP ITERATION
for item in list1:
    print(item)

[1, 2, 345, 4, 5, 656, 7, 258, 29]
['a', 'b', 'c', 'd']
[1, 'a', 2, 'b']
sliced list = [7, 258]
reversedlist = [29, 258, 7, 656, 5, 4, 345, 2, 1]
[1, 2, 345, 4, 5, 656, 7, 258, 29, 10]
[0, 1, 2, 345, 4, 5, 656, 7, 258, 29, 10]
iterating
0
1
2
345
4
5
656
7
258
29
10

In [ ]:
list1.remove(1)   #REMOVE
print(list1)

[0, 2, 345, 4, 5, 656, 7, 258, 29, 10]

In [ ]:
print(list1)      #EXTEND
print(list2)
list1.extend(list2)
print(list1)
print(type(list1))

[0, 2, 345, 4, 5, 656, 7, 258, 29, 10]
['a', 'b', 'c', 'd']
[0, 2, 345, 4, 5, 656, 7, 258, 29, 10, 'a', 'b', 'c', 'd']
<class 'list'>

In [ ]:
list2[2]=10    #REPLACE
print(list2)

['a', 'b', 10, 'd']

In [ ]:
del list2[1]  #DELETE
print(list2)

['a', 10, 'd']

In [ ]:
list2.clear()   #CLEAR
print(list2)

[]

In [ ]:
list4=[1,2,345,4,5,656,7,258,29]    #SORTING
list4.sort()
print(list4)

[1, 2, 4, 5, 7, 29, 258, 345, 656]

In [ ]:
list4.reverse()
print(list4)

[656, 345, 258, 29, 7, 5, 4, 2, 1]

In [ ]:
print(max(list4))

656

In [ ]:
print(min(list4))

1

In [ ]:
kichloo=list4.pop()
print(kichloo)
print(list4)

2
[656, 345, 258, 29, 7, 5, 4]

In [ ]:
sum=sum(list4)
print(sum)

1304

In [ ]:
list5=[456,789,452,147,487,123]
list6=[456,258,357,452,123]

 common_elements=list(set(list5).intersection(list6))
print(common_elements)

[456, 123, 452]

In [ ]:
print(len(list3))

4

In [ ]:
list6=[1,2,345,4,5,656,7,258,29]
list7=['a','b','c','d']

len3=len(list6)-len(list7)
print(len3)
for i in range(len3):
    list7.append('z')
print(list7)

5
['a', 'b', 'c', 'd', 'z', 'z', 'z', 'z', 'z']