In [ ]:

a=(101,"peter",22)
b=("kshitij","dinesh","nirdhar","priti")
c=(22,23,24,25,26,278)

print(type(a))

first_element=c[0]      #indexingg
print(first_element)

slicing1=c[0:3]         #slicing
print(slicing1)
slicing2=c[4:]
print(slicing2)


reversed_tuple=c[::-1]     #reversing tuple
print(reversed_tuple)

sorted_tuple=sorted(c)     #sorting tuple
print(sorted_tuple)

print("iterating through the tuple")
for item in c:
    print(item)

print(slicing1+slicing2)   #Deleting with slicing



lt=[]
for i in c:
    lt.append(i)
lt.remove(23)
print(lt)
la=list(c)
print(la)
print(type(la))
print(type(c))
tp=tuple(la)
print(tp)
print(type(tp))


print(min(c))
print(max(c))




set1={1,2,3,4,5,6,7,8,9,10}
print(type(set1))

set2={'a','b','c','d','e'}       #INDEXING IS NOT POSSIBLE (RANDOMIZATION)

for item in set2:
    print(item)
print(set2)

set2.add('f')
print(set2)

set2.remove('a')
print(set2)

set2.update('g','h')
print(set2)

set2.discard('b')
print(set2)


set3=set1.union(set2)  #WE CAN ALSO USE SET1|SET2    SET1 & SET2
print(set3)


set4=set1.intersection(set2)
print(set4)


set5=set1.difference(set2)
print(set5)


set5={2,3,4,5,6,7,8,9,10,11,12}
set6={13,14,15,16,17,18,19,20}

if set5==set6:
    print("sets are equal")
else:
    print("sets are not equal")

<class 'tuple'>
22
(22, 23, 24)
(26, 278)
(278, 26, 25, 24, 23, 22)
[22, 23, 24, 25, 26, 278]
iterating through the tuple
22
23
24
25
26
278
(22, 23, 24, 26, 278)
[22, 24, 25, 26, 278]
[22, 23, 24, 25, 26, 278]
<class 'list'>
<class 'tuple'>
(22, 23, 24, 25, 26, 278)
<class 'tuple'>
22
278
<class 'set'>
d
b
e
a
c
{'d', 'b', 'e', 'a', 'c'}
{'d', 'f', 'b', 'e', 'a', 'c'}
{'d', 'f', 'b', 'e', 'c'}
{'d', 'f', 'h', 'b', 'e', 'g', 'c'}
{'d', 'f', 'h', 'e', 'g', 'c'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'f', 'h', 'e', 'g', 'd', 'c'}
set()
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
sets are not equal