In [1]:
import pandas as pd

df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [3, 4], 'Name': ['Charlie', 'David']})

result = pd.concat([df1, df2],ignore_index=True)
print(result)

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David

In [2]:
import pandas as pd

df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [3, 4], 'Name': ['Charlie', 'David']})

result = pd.concat([df1, df2], axis=1,ignore_index=True)
print(result)

   0      1  2        3
0  1  Alice  3  Charlie
1  2    Bob  4    David

In [6]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Salary': [50000, 60000, 70000]})

result = pd.merge(df1, df2, on='ID')
print(result)


result2=pd.merge(df1, df2, on='ID', how='outer')
print(result2)


result3=pd.merge(df1, df2, on='ID', how='left')
print(result3)


result4=pd.merge(df1, df2, on='ID', how='right')  
print(result4)

   ID   Name  Salary
0   1  Alice   50000
1   2    Bob   60000
   ID     Name   Salary
0   1    Alice  50000.0
1   2      Bob  60000.0
2   3  Charlie      NaN
3   4      NaN  70000.0
   ID     Name   Salary
0   1    Alice  50000.0
1   2      Bob  60000.0
2   3  Charlie      NaN
   ID   Name  Salary
0   1  Alice   50000
1   2    Bob   60000
2   4    NaN   70000