In [1]:
import pandas as pd       #ACCESSING SINGLE COLUMN

data = {
    "Name": ['Aarav', 'Isha', 'Neha', 'Rohan', 'Vikram', 'Meera', 'Kunal', 'Tara'],
    "Age": [21, 22, 23, 20, 24, 22, 21, 23],
    "Marks": [88, 76, 91, 85, 79, 94, 67, 89],
    "Course": ['Python', 'Data Science', 'AI', 'ML', 'Web Dev', 'CyberSec', 'DSA', 'IoT']
}


df=pd.DataFrame(data)


column=df["Name"]
print(column)

0     Aarav
1      Isha
2      Neha
3     Rohan
4    Vikram
5     Meera
6     Kunal
7      Tara
Name: Name, dtype: object

In [5]:
import pandas as pd    #ACCESSED MULTIPLE COLUMNS

data = {
    "Name": ['Aarav', 'Isha', 'Neha', 'Rohan', 'Vikram', 'Meera', 'Kunal', 'Tara'],
    "Age": [21, 22, 23, 20, 24, 22, 21, 23],
    "Marks": [88, 76, 91, 85, 79, 94, 67, 89],
    "Course": ['Python', 'Data Science', 'AI', 'ML', 'Web Dev', 'CyberSec', 'DSA', 'IoT']
}


df=pd.DataFrame(data)


filtered_columns=df[["Marks","Course"]]
print(filtered_columns)

   Marks        Course
0     88        Python
1     76  Data Science
2     91            AI
3     85            ML
4     79       Web Dev
5     94      CyberSec
6     67           DSA
7     89           IoT

In [6]:
import pandas as pd   #ACCESSED COLUMNS AND ROWS BASED ON SINGLE CONDITION

data = {
    "Name": ['Aarav', 'Isha', 'Neha', 'Rohan', 'Vikram', 'Meera', 'Kunal', 'Tara'],
    "Age": [21, 22, 23, 20, 24, 22, 21, 23],
    "Marks": [88, 76, 91, 85, 79, 94, 67, 89],
    "Course": ['Python', 'Data Science', 'AI', 'ML', 'Web Dev', 'CyberSec', 'DSA', 'IoT']
}


df=pd.DataFrame(data)


filtered=df[df["Age"]>22]
print(filtered)

     Name  Age  Marks   Course
2    Neha   23     91       AI
4  Vikram   24     79  Web Dev
7    Tara   23     89      IoT

In [7]:
import pandas as pd

data = {
    "Name": ['Aarav', 'Isha', 'Neha', 'Rohan', 'Vikram', 'Meera', 'Kunal', 'Tara'],
    "Age": [21, 22, 23, 20, 24, 22, 21, 23],
    "Marks": [88, 76, 91, 85, 79, 94, 67, 89],
    "Course": ['Python', 'Data Science', 'AI', 'ML', 'Web Dev', 'CyberSec', 'DSA', 'IoT']
}


df=pd.DataFrame(data)

filtered=df[(df["Age"]>22) & (df["Marks"]>80)]
print(filtered)

   Name  Age  Marks Course
2  Neha   23     91     AI
7  Tara   23     89    IoT

In [8]:
import pandas as pd

data = {
    "Name": ['Aarav', 'Isha', 'Neha', 'Rohan', 'Vikram', 'Meera', 'Kunal', 'Tara'],
    "Age": [21, 22, 23, 20, 24, 22, 21, 23],
    "Marks": [88, 76, 91, 85, 79, 94, 67, 89],
    "Course": ['Python', 'Data Science', 'AI', 'ML', 'Web Dev', 'CyberSec', 'DSA', 'IoT']
}


df=pd.DataFrame(data)

filtered=df[(df["Age"]>22) | (df["Marks"]>80)]
print(filtered)

     Name  Age  Marks    Course
0   Aarav   21     88    Python
2    Neha   23     91        AI
3   Rohan   20     85        ML
4  Vikram   24     79   Web Dev
5   Meera   22     94  CyberSec
7    Tara   23     89       IoT