In [5]:
import pandas as pd

data={
    'Name':['Bob','Alice','David','Tracy'],  
    'Marks':[95,25,78,56]
}

df=pd.DataFrame(data)

sorted_df=df.sort_values(by='Marks',ascending=True)
print(sorted_df)

    Name  Marks
1  Alice     25
3  Tracy     56
2  David     78
0    Bob     95

In [9]:
import pandas as pd

data={
    'Name':['Bob','Alice','David','Tracy'],  
    'Marks':[95,25,78,56]
}

df=pd.DataFrame(data)

sorted_df=df.sort_values(by=['Name','Marks'],ascending=[True,True])
print(sorted_df)

    Name  Marks
1  Alice     25
0    Bob     95
2  David     78
3  Tracy     56

In [15]:
import pandas as pd

data={
    'Name':['Bob','Alice','David','Tracy'],  
    'Marks':[95,25,78,56]
}

df=pd.DataFrame(data)
print(df)

mean_marks=df['Marks'].mean()  
print(mean_marks)

sum_marks=df['Marks'].sum()  
print(sum_marks)    

df.agg({'Marks': ['min', 'max', 'mean', 'std']})

    Name  Marks
0    Bob     95
1  Alice     25
2  David     78
3  Tracy     56
63.5
254

         Marks
min   25.00000
max   95.00000
mean  63.50000
std   30.22692

In [17]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
    'Subject': ['Math', 'Math', 'Math', 'Science', 'Science'],
    'Marks': [85, 92, 78, 88, 95]
}
df = pd.DataFrame(data)

grouped=df.groupby("Name")['Marks'].mean()
print(grouped)

Name
Alice      86.5
Bob        93.5
Charlie    78.0
Name: Marks, dtype: float64

In [18]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
    'Subject': ['Math', 'Math', 'Math', 'Science', 'Science'],
    'Marks': [85, 92, 78, 88, 95]
}
df = pd.DataFrame(data)

grouped=df.groupby("Name")['Marks'].mean()
print(grouped)

df.groupby(['Name', 'Subject'])['Marks'].sum()

Name
Alice      86.5
Bob        93.5
Charlie    78.0
Name: Marks, dtype: float64

Name     Subject
Alice    Math       85
         Science    88
Bob      Math       92
         Science    95
Charlie  Math       78
Name: Marks, dtype: int64