In [2]:
import pandas as pd

data = {
    "Name": ['Aarav', 'Isha', 'Neha', 'Rohan', 'Vikram', 'Meera', 'Kunal', 'Tara'],
    "Age": [21, 22, 23, 20, 24, 22, 21, 23],
    "Marks": [88, 76, 91, 85, 79, 94, 67, 89],
    "Course": ['Python', 'Data Science', 'AI', 'ML', 'Web Dev', 'CyberSec', 'DSA', 'IoT']
}


df=pd.DataFrame(data)

print("Display 6 rows of first")
print(df.head(6))

print("Display 6 rows of last")
print(df.tail(6))

Display 6 rows of first
     Name  Age  Marks        Course
0   Aarav   21     88        Python
1    Isha   22     76  Data Science
2    Neha   23     91            AI
3   Rohan   20     85            ML
4  Vikram   24     79       Web Dev
5   Meera   22     94      CyberSec
Display 6 rows of last
     Name  Age  Marks    Course
2    Neha   23     91        AI
3   Rohan   20     85        ML
4  Vikram   24     79   Web Dev
5   Meera   22     94  CyberSec
6   Kunal   21     67       DSA
7    Tara   23     89       IoT

In [3]:
import pandas as pd

data = {
    "Name": ['Aarav', 'Isha', 'Neha', 'Rohan', 'Vikram', 'Meera', 'Kunal', 'Tara'],
    "Age": [21, 22, 23, 20, 24, 22, 21, 23],
    "Marks": [88, 76, 91, 85, 79, 94, 67, 89],
    "Course": ['Python', 'Data Science', 'AI', 'ML', 'Web Dev', 'CyberSec', 'DSA', 'IoT']
}


df=pd.DataFrame(data)


print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    8 non-null      object
 1   Age     8 non-null      int64
 2   Marks   8 non-null      int64
 3   Course  8 non-null      object
dtypes: int64(2), object(2)
memory usage: 388.0+ bytes
None

In [4]:
import pandas as pd

data = {
    "Name": ['Aarav', 'Isha', 'Neha', 'Rohan', 'Vikram', 'Meera', 'Kunal', 'Tara'],
    "Age": [21, 22, 23, 20, 24, 22, 21, 23],
    "Marks": [88, 76, 91, 85, 79, 94, 67, 89],
    "Course": ['Python', 'Data Science', 'AI', 'ML', 'Web Dev', 'CyberSec', 'DSA', 'IoT']
}


df=pd.DataFrame(data)


print(df.describe())

             Age      Marks
count   8.000000   8.000000
mean   22.000000  83.625000
std     1.309307   9.006942
min    20.000000  67.000000
25%    21.000000  78.250000
50%    22.000000  86.500000
75%    23.000000  89.500000
max    24.000000  94.000000

In [6]:
import pandas as pd

data = {
    "Name": ['Aarav', 'Isha', 'Neha', 'Rohan', 'Vikram', 'Meera', 'Kunal', 'Tara'],
    "Age": [21, 22, 23, 20, 24, 22, 21, 23],
    "Marks": [88, 76, 91, 85, 79, 94, 67, 89],
    "Course": ['Python', 'Data Science', 'AI', 'ML', 'Web Dev', 'CyberSec', 'DSA', 'IoT']
}


df=pd.DataFrame(data)



print("Shape of the dataset")
print(df.shape)

print("Column NAMES of the dataset")
print(df.columns)

Shape of the dataset
(8, 4)
Column NAMES of the dataset
Index(['Name', 'Age', 'Marks', 'Course'], dtype='object')